.header {
    position: relative;
    height: 100%;
    background-image: url(../images/dist/headerBG.png);
    background-repeat: no-repeat;
    background-position: 15% 85%;
    ;

    &__wrapper {
        position: relative;
    }

    &__text {
        width: 232px;
        position: absolute;
        left: 60%;
        top: 57%;

    }

    &__btn {
        cursor: pointer;
        color: white;
        background-color: #FF39BC;
        width: 200px;
        height: 200px;
        flex-shrink: 0;
        border: none;
        border-radius: 50%;
        margin-left: 80%;
        margin-top: 8%;
    }

    &__btn a {
        color: inherit;
    }
    &__title{
        position: relative;
        color: #000;
font-family: Montserrat;
font-size: 80px;
font-style: normal;
font-weight: 600;
line-height: 94px; /* 117.5% */
text-transform: uppercase;
    }
   
// &__title::before {
//         content: '';
//         display: block;
//         position: absolute;
//         top: 50%;
//         left: 0; /* Изменим left на 0 для фонового изображения */
//         transform: translateY(-50%);
//         width: 20px; /* Ширина изображения звездочки */
//         height: 20px; /* Высота изображения звездочки */
//         background-image: url('../../images/dist/hader_title_stars.jpg');
//         background-size: contain;
//         background-repeat: no-repeat; /* Добавим свойство background-repeat */
//         background-position: center; /* Чтобы изображение было позиционировано по центру */
//     }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-top: 100px;

    &__list {
        display: flex;

    }

    &__list-item {
        padding-left: 19px;
        padding-right: 19px;
    }

    &__btn {

        cursor: pointer;
        color: white;
        background-color: #FF39BC;
        width: 36px;
        height: 36px;
        flex-shrink: 0;
        border: none;
        border-radius: 50%;
        text-align: center;


    }

    &__social {
        display: flex;

    }

    &__social-item {
        padding-right: 10px;
        padding-left: 10px;
    }

    &__list-link {
        color: black;
    }
}